BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
AccessModifierOffset: 0
